@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');

.navbar {
    background-color: white;
    border-bottom: 1px solid orangered;
    font-family: 'Asap Condensed', sans-serif;
    overflow: hidden;
    text-align: left;
}

.navbarTitle {
    background-color: orangered;
    float: left;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbarLink {
    float: left;
    font-size: 16px;
    font-weight: bold;
    color: orangered;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbarLink:hover, .navbarLink:focus {
    background-color: orangered;
    color: white;
}

.pageTitleContainer {
    position: absolute;
    text-align: center;
    top: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.pageTitle {
    font-size: 24px;
    color: black;
    letter-spacing: 0.07em;
    padding: 14px 16px;
}

.dropdownContainer {
    float: left;
}
