@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');

.container {
    margin-top: 40px;
    width: 100%;
}

.btn {
    background-color: white;
    border: 1px solid orangered;
    color: orangered;
    display: inline-block;
    font-family: 'Asap Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    margin: 8px;
}

.btn:hover, .btn:focus {
    background-color: orangered;
    color: white;
    cursor: pointer;
}