@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.title {
    color: orangered;
    font-family: 'Asap Condensed', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 500px;
}

.displayContainer {
    border: 1px solid orangered;
    float: left;
    height: 320px;
    margin: 4px;
    width: 640px;
}

.terminalContainer {
    float: left;
}

.clear {
    clear: both;
}

.displayTerminalContainer {
    width: 1200px;
    margin: auto;
}

.errorContainer {
    border: 1px solid orangered;
    color: orangered;
    display: block;
    font-family: 'Asap Condensed', sans-serif;
    margin: auto;
    overflow: auto;
    padding: 20px;
    width: 400px;
}

.errorMessage {
    color: black;
    font-family: 'Roboto Mono', monospace;
    text-align: left;
    white-space: pre-wrap;
}