@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.title {
    color: orangered;
    font-family: 'Asap Condensed', sans-serif;
    font-weight: bold;
}

.pixelDisplayContainer {
    border: 1px solid orangered;
    display: inline-block;
    float: left;
    height: 320px;
    margin: 4px;
    width: 640px;
}

.debuggerContainer {
    display: inline-block;
}

.errorContainer {
    border: 1px solid orangered;
    color: orangered;
    font-family: 'Asap Condensed', sans-serif;
    height: 50px;
    margin: auto;
    padding: 20px;
    width: 400px;
}

.errorMessage {
    color: black;
    font-family: 'Roboto Mono', monospace;
}