@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');

.mainContainer {
    border: 2px solid orangered;
    width: 370px;
}

.registerTable {
    border-spacing: 20px 0;
    margin: auto;
}

.actionButtonContainer button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Asap Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 6px 6px 0 6px;
}

.actionButtonContainer button:disabled {
    cursor: default;
}

.actionButtonContainer button:hover:enabled {
    color: orangered;
}

.actionButtonContainer span {
    display: inline-block;
}

.registerField label {
    color: orangered;
    display: inline-block;
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    width: 30px;
}

.registerField input {
    background-color: white;
    border: 1px solid gray;
    font-family: monospace;
    width: 60px;
}